Ejercicio 1: Crear una tabla “Productos” que contenga los datos que le permite a un bazar llevar el control de los productos que comercializa.

In [1]:
import sqlite3 as sql

class Conexion_BD():

    def __init__(self,db):
      self.conexion = sql.connect(db)
      self.cursor = self.conexion.cursor()
    
    def consulta(self, consulta):
      self.cursor.execute(consulta)

    def commit(self):
      self.conexion.commit()

    def cerrar(self):
      self.conexion.close()


conexion = Conexion_BD("Productos_db")
conexion.consulta("CREATE TABLE Productos(id_producto INTEGER PRIMARY KEY AUTOINCREMENT, nombre_producto VARCHAR(250), cantidad_producto INTEGER, precio_producto FLOAT, categorida_producto VARCHAR(300) )")
conexion.commit()
conexion.cerrar()

**Ejercicio 2:** Una vez creada la base de datos "Productos_bd" y la tabla "Productos" realice las siguientes actividades:<br/>
* Insertar un producto<br/>
* Hacer al menos una consulta de búsqueda. Ejemplo: "ver todos los productos cargados", "ver los productos con stock 0"<br/>
* Actualizar un producto<br/>
* Eliminar un producto

In [4]:
conexion = Conexion_BD("Productos_db")

conexion.consulta("INSERT INTO Productos (nombre_producto, cantidad_producto, precio_producto, categorida_producto)  values ('Harina BlancaFlor 1kg',20, 150.98,'Harinas Blancas')")
conexion.commit()
conexion.consulta("INSERT INTO Productos (nombre_producto, cantidad_producto, precio_producto, categorida_producto)  values ('Harina Florencia 1kg',20, 150.98,'Harinas Blancas')")
conexion.commit()
conexion.consulta("INSERT INTO Productos (nombre_producto, cantidad_producto, precio_producto, categorida_producto)  values ('Harina Integral 1kg',0, 170.98,'Harinas ')")
conexion.commit()
conexion.consulta("INSERT INTO Productos (nombre_producto, cantidad_producto, precio_producto, categorida_producto)  values ('Harina Almendras 1kg',10, 250.98,'Harinas ')")
conexion.commit()
conexion.consulta("INSERT INTO Productos (nombre_producto, cantidad_producto, precio_producto, categorida_producto)  values ('Avena 1kg',2, 100.98,'Cereales')")
conexion.commit()
conexion.consulta("INSERT INTO Productos (nombre_producto, cantidad_producto, precio_producto, categorida_producto)  values ('Garbanzos 1kg',0, 70.98,'Lengumbres')")
conexion.commit()

In [12]:

#Ver todos los productos cargados
conexion.consulta("SELECT * FROM Productos")
listaproductos = conexion.cursor.fetchall()
conexion.commit()

for item in listaproductos:
  print(f"Id:{item[0]}  Nombre: {item[1]} Cantidad: {item[2]} Precio: {item[3]} Categoria: {item[4]}")
print("\n\n")

#Ver  los productos con stock 0
conexion.consulta("SELECT * FROM Productos WHERE cantidad_producto = 0 ORDER BY nombre_producto ASC")
listaproductos = conexion.cursor.fetchall()
conexion.commit()

for item in listaproductos:
  print(f"Id:{item[0]}  Nombre: {item[1]} Cantidad: {item[2]} Precio: {item[3]} Categoria: {item[4]}")

print("\n\n")
#Actualizar producto de Garbanzos
conexion.consulta("UPDATE Productos SET cantidad_producto = 30 WHERE id_producto = 6 ")
conexion.commit()
print("\n\n")
conexion.consulta("SELECT * FROM Productos WHERE cantidad_producto = 0 ORDER BY nombre_producto ASC")
listaproductos = conexion.cursor.fetchall()
conexion.commit()

for item in listaproductos:
  print(f"Id:{item[0]}  Nombre: {item[1]} Cantidad: {item[2]} Precio: {item[3]} Categoria: {item[4]}")

print("\n\n")
# Consultar datos del producto garbanzo
conexion.consulta("SELECT * FROM Productos WHERE id_producto = 6")
listaproductos = conexion.cursor.fetchall()
conexion.commit()

for item in listaproductos:
  print(f"Id:{item[0]}  Nombre: {item[1]} Cantidad: {item[2]} Precio: {item[3]} Categoria: {item[4]}")


  print("\n\n")
# Eliminar el producto garbanzo
conexion.consulta("DELETE FROM Productos WHERE id_producto = 6")
conexion.commit()

conexion.cerrar()


conexion = Conexion_BD("Productos_db")
#Ver todos los productos cargados
conexion.consulta("SELECT * FROM Productos")
listaproductos = conexion.cursor.fetchall()
conexion.commit()
for item in listaproductos:
  print(f"Id:{item[0]}  Nombre: {item[1]} Cantidad: {item[2]} Precio: {item[3]} Categoria: {item[4]}")
conexion.cerrar()

Id:1  Nombre: Harina BlancaFlor 1kg Cantidad: 20 Precio: 150.98 Categoria: Harinas Blancas
Id:2  Nombre: Harina Florencia 1kg Cantidad: 20 Precio: 150.98 Categoria: Harinas Blancas
Id:3  Nombre: Harina Integral 1kg Cantidad: 0 Precio: 170.98 Categoria: Harinas
Id:4  Nombre: Harina Almendras 1kg Cantidad: 10 Precio: 250.98 Categoria: Harinas
Id:5  Nombre: Avena 1kg Cantidad: 2 Precio: 100.98 Categoria: Cereales



Id:3  Nombre: Harina Integral 1kg Cantidad: 0 Precio: 170.98 Categoria: Harinas






Id:3  Nombre: Harina Integral 1kg Cantidad: 0 Precio: 170.98 Categoria: Harinas



Id:1  Nombre: Harina BlancaFlor 1kg Cantidad: 20 Precio: 150.98 Categoria: Harinas Blancas
Id:2  Nombre: Harina Florencia 1kg Cantidad: 20 Precio: 150.98 Categoria: Harinas Blancas
Id:3  Nombre: Harina Integral 1kg Cantidad: 0 Precio: 170.98 Categoria: Harinas
Id:4  Nombre: Harina Almendras 1kg Cantidad: 10 Precio: 250.98 Categoria: Harinas
Id:5  Nombre: Avena 1kg Cantidad: 2 Precio: 100.98 Categoria: Cereales

**Ejercicio 3:** Para la misma base de datos de ejercicios anteriores, crear una tabla que se llame Detalle_Venta, que contenga los siguientes campos: id_producto, precio_producto, cantidad, subtotal y total, de forma que permita armar el detalle de una factura y mostrar en pantalla.
* Crear la tabla Detalle_Venta.
* Insertar datos simulados en la tabla Detalle_Venta.

In [17]:
conexion = Conexion_BD("Productos_db")
conexion.cerrar()

In [21]:
conexion = Conexion_BD("Productos_db")

#conexion.consulta("CREATE TABLE Detalle_Venta(id_venta INTEGER PRIMARY KEY AUTOINCREMENT, id_producto integer, precio_producto FLOAT, cantidad_producto int, subtotal float, total float)")
#conexion.commit()

#conexion.consulta("INSERT INTO Detalle_Venta (id_producto, precio_producto, cantidad_producto, subtotal, total) VALUES (1,150.98,10,1509.8,1509.8)")
#conexion.commit()

conexion.consulta("SELECT * FROM Detalle_Venta")
listaventa = conexion.cursor.fetchall()
conexion.commit()
for item in listaventa:
  print(f"Id:{item[0]} IdProducto:{item[1]}  precio: {item[2]} cantidad: {item[3]} subtotal: {item[4]} total: {item[5]}")


conexion.consulta("SELECT Detalle_Venta.id_venta, Productos.id_producto, Productos.nombre_producto, Detalle_Venta.precio_producto, Detalle_Venta.cantidad_producto, subtotal, total FROM Detalle_Venta INNER JOIN Productos ON Detalle_Venta.id_producto = Productos.id_producto")
listaventa = conexion.cursor.fetchall()
conexion.commit()
for item in listaventa:
  print(f"Id:{item[0]} IdProducto:{item[1]} nombre:{item[2]} precio: {item[3]} cantidad: {item[4]} subtotal: {item[5]} total: {item[6]}")
conexion.cerrar()

Id:1 IdProducto:1  precio: 150.98 cantidad: 10 subtotal: 1509.8 total: 1509.8
Id:1 IdProducto:1 nombre:Harina BlancaFlor 1kg precio: 150.98 cantidad: 10 subtotal: 1509.8 total: 1509.8

**Ejercicio 4:** Crear un pequeño programa que te permita hacer una venta usando las tablas Productos y Detalle_Venta, considerar:
* Stock distinto de 0 al hacer la venta.
* Guardar en Detalle_Venta la venta realizada.

In [27]:
conexion = Conexion_BD("Productos_db")


# Actualiza la cantidad del producto para poder realizar la venta
conexion.consulta("UPDATE Productos SET cantidad_producto = 30 WHERE id_producto = 1 ")
conexion.commit()
print("\n\n")


#Trae una lista de todos los productos disponibles y se los muestra en pantalla al usuario - modificar la forma de mostrarlos
conexion.consulta("SELECT id_producto, nombre_producto, precio_producto FROM Productos")
listaproductos = conexion.cursor.fetchall()
conexion.commit()
for item in listaproductos:
  print(f"Id:{item[0]}  Nombre: {item[1]} Precio: {item[2]}")
print("\n\n")

total =0
subtotal =0
#Solicita que ingrese el id del producto a comprar
numP =input("Ingrese el numero de producto que desea comprar :")

#Verificamos que el producto exista en la tabla
conexion.consulta(f"SELECT * FROM Productos WHERE id_producto = {numP}")
producto = conexion.cursor.fetchall()
if (producto == []):
  raise Exception("El producto elegido no existe")
else:
  #Solicita la cantidad de productos a adquirir
  cantP =int(input("Ingrese la cantidad de productos que desea adquirir :"))
  cantDisponible = producto[0][2] # cantidad de productos en stock
  precio = producto[0][3] 
  if (cantDisponible < 0):
    print("No hay disponibilidad del producto ")
  else: 
    if (cantP > cantDisponible):
      print(f"Solo tengo disponible {cantDisponible}")
      cantP = cantDisponible # actualizo la cantidad que me piden a lo que existe en stock
    cantDisponible = cantDisponible - cantP  # restando de la cantidad disponible lo que estan comprando

    #actualizo la tabla productos y modifico la cantidad actualizada despues de la venta
    conexion.consulta(f"UPDATE Productos SET cantidad_producto = {cantDisponible} WHERE id_producto = {numP} ")
    conexion.commit()
    subtotal = precio * cantP
    total =  total + subtotal

    #Insertamos los datos de la venta realizada
    conexion.consulta(f"INSERT INTO Detalle_Venta (id_producto, precio_producto, cantidad_producto, subtotal, total) VALUES ({numP},{precio},{cantP},{subtotal},{total})")
    conexion.commit()

# Ver los datos de la venta realizada
conexion.consulta("SELECT Detalle_Venta.id_venta, Productos.id_producto, Productos.nombre_producto, Detalle_Venta.precio_producto, Detalle_Venta.cantidad_producto, subtotal, total FROM Detalle_Venta INNER JOIN Productos ON Detalle_Venta.id_producto = Productos.id_producto")
listaventa = conexion.cursor.fetchall()
conexion.commit()
total =0
for item in listaventa:
   total = total + item[5]
  print(f"Id:{item[0]} IdProducto:{item[1]} nombre:{item[2]} precio: {item[3]} cantidad: {item[4]} subtotal: {item[5]} ")
print(f"Total :{total}} ")
conexion.cerrar()

Id:1  Nombre: Harina BlancaFlor 1kg Precio: 150.98
Id:2  Nombre: Harina Florencia 1kg Precio: 150.98
Id:3  Nombre: Harina Integral 1kg Precio: 170.98
Id:4  Nombre: Harina Almendras 1kg Precio: 250.98
Id:5  Nombre: Avena 1kg Precio: 100.98



Ingrese el numero de producto que desea comprar :1
Ingrese la cantidad de productos que desea adquirir :40
Solo tengo disponible 30
Id:1 IdProducto:1 nombre:Harina BlancaFlor 1kg precio: 150.98 cantidad: 10 subtotal: 1509.8 total: 1509.8
Id:2 IdProducto:1 nombre:Harina BlancaFlor 1kg precio: 150.98 cantidad: 30 subtotal: 4529.4 total: 4529.4